:root {
    /* Portrait variables */
    --portrait-max-size: 300px;
    --portrait-border-size: 5px;
    --total-portrait-size: calc(var(--portrait-max-size) + var(--portrait-border-size)*2);
    --content-offset: 10px;
    /* Colors */
  }

body {
    min-width: 320px;
    max-height: 1080px;
    overflow: hidden;
}

/* profile styling */
    /* portrait */
.portraitcontainer {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: calc(98vw -20px);
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease;
}

.portrait {
    display: block;
    border-radius: 10px 10px 0 0 ;

}

    /* buttons, name & description */

.closebutton {
    display: none;
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: -8px;
    right: -8px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: lightgray;
    border: 2px solid black;
    opacity: 0%;
    transition: transform 0.15s ease;
}

.closebutton:hover {
    transform: scale(1.10);
}

.closebutton:active {
    transform: scale(0.95);
}

.nameandagecontainer {
    z-index: -1;
    position: relative;
    bottom: 60px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    background-color: lightgray;
    transition: bottom 0.25s;
    text-transform: uppercase;
}

.name {
    padding-left: 8px;
}

.age {
    padding-right: 8px;
}

.description {
    position: absolute;
    box-sizing: border-box;
    top: 410px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    max-height: 400px;
    opacity: 0%;
    overflow: auto;
}

.description p, h2 {
    margin: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 12%;
}

/* Other profiles */

.profile {
    display: none;
}

/* Arrows styling */

.Arrow {
    z-index: 4;
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 0.15s ease-in-out;
}

.Arrow:hover {
    transform: translate(-50%, 0) scale(1.10);
}

.Arrow:active {
    transform: translate(-50%, 0) scale(0.95);
}

#toparrow {
    top: 4%;
}

#bottomarrow {
    bottom: 4%;
}

/* Animations */


@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        display: block;
    }
}

@keyframes disappear {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        display: none;
    }
}

    /* Swipe Animations */
        /* Up */

@keyframes swipe-up {
    0% {

    }

    100% {
        top: -500px;
        display: none;
    }
}

@keyframes come-up {
    0% {
        top: 1200px;
        display: block;
    }

    100% {
        top: 50%;
        display: block;
    }
}

        /* Down */

@keyframes swipe-down {
    0% {

    }

    100% {
        top: 1200px;
        display: none;
    }
}

@keyframes come-down {
    0% {
        top: -500px;
        display: block;
    }

    100% {
        top: 50%;
        display: block;
    }
}